<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <form >
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" tabindex="1"></ion-input>
      </ion-item> <!-- campo nombre-->
  
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" tabindex="2"></ion-input>
      </ion-item> <!-- campo teléfono -->
  
  
      <ion-radio-group name="sexo" value="">
        <ion-list-header>
          <ion-label>Sexo</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio value="M" tabindex="3"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Femenino</ion-label>
          <ion-radio value="F" tabindex="4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </form>
  </div>

</ion-content>
